<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="me">
      <h1>
        Man 11 yoshdaman hozirgi kunda "MARS IT school" ning beckend kursida
        o'qimoqdaman.
        <br />
        Maktabda 5-sinf o'quvchisiman.
      </h1>
      <img src="{% static 'img/odam.jpg' %}" alt="" />
    </div>
  </body>
</html>
